<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.12.0/de.min.js"></script>
    <script src="https://public.tableau.com/javascripts/api/tableau-2.min.js"></script>

    <title>NBA Player Demographics</title>
</head>

<body onload="initViz();">
    <nav class="navbar">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/#">Race Data</a>
            </li>
            <li>
                <a href="/poverty">Poverty Data</a>
            </li>
        </ul>
    </nav>
    <h8>NBA Data Demographics by age, height, country, race.</h8>
    <div id="vizContainer" style="width:800px; height:700px;"></div>
    

    <script>
        function initViz() {
            var containerDiv = document.getElementById("vizContainer"),
                url = "https://public.tableau.com/views/NBADemographics/Dashboard2?:display_count=y&publish=yes&:origin=viz_share_link"
            options = {
                hideTabs: true,
                onFirstInteractive: function() {
                    console.log("Run this code when the viz has finished loading.");
                }
            } ;

            var viz = new tableau.Viz(containerDiv, url, options);
        }
    </script>
</body>
</html>